body{
  font-family: arial, sans-serif;
  background: #ccc;
  margin: 0;
}

.hero{
  background-image: url(../imagens/bg-3.jpg);
  height: 500px;
  background-position: right center;
  background-size: cover;
  /* Apenas para a ul basear-se no hero para definir a margin */
  border-top: 1px solid transparent;  
}

.hero-content{
  text-align: center;
  color: white;
  margin-top: 50px;
}

.hero-content h1{
  text-transform: uppercase;
  font-size: 46px;
  /* 1: deslocamento vertical, 2: deslocamento horizontal, 
  3: blur, 4: cor */
  text-shadow: 3px 3px 3px #333
}

.hero-content p {
  background-color: rgba(0,0,0,0.4);
  display: inline-block;
  padding: 10px;
  border-bottom: 1px solid white;
}

.hero nav ul {
  /* funciona pois as li's estão com estilo inline-block 
  É como se elas fossem um único texto */
  text-align: right;
  margin: 25px 25px 0 0;
}

.hero nav li{
  display: inline-block;
  border: 1px solid white;
  list-style: none;
  margin-left: 10px;
}

.hero nav a{
  /* rgba color with transparency */
  background: rgba(0,0,0, 0.15);
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.hero nav a:hover{
  background: rgba(0,0,0, 0.55);
}

main{
  margin: auto;
  width: 90%;
}

.content-section{
  background-color: white;
  padding: 10px;
  margin-top: 15px;
  overflow: auto;
}

.card {
  width: 32%;
  float: left;
  box-sizing: border-box;
}

.card-1 {
  margin-right: 2%;
}

.card-2 {
  margin-right: 2%;
}

/* imagem ficar dentro do container card */
.card img {
  width: 100%;
  display: block;
}

.card p {
  background-color: rgba(0,0,0,0.8);
  margin: 0;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content-header{
  background-color: #ccc;
  text-indent: 25px;
}

.content-header h2{
  margin: 0;
}

.rodape{
  height: 80px;
  color: white;
  font-size: 14px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  background: #6b6c68;
  /* trick para centralizar verticalmente o texto (deixar o line height do tamanho do height do elemento) */
  line-height: 80px;
}