body {
  width: 90%;
  margin: auto;
  background: #FEF4F4;
  color: #171728;
}

.heading-1 {
  font-weight: 700;
  margin: 16px 0 0;
  text-transform: uppercase;
  display: inline;
  padding-right: 10px;
}

.heading-1.background {
  position: relative;
  z-index: 1;
}

.heading-1.background::before{
  border-top: 12px solid #F38068;
  content:"";
  margin: 0 0 0 -10px;
  position: absolute;
  top: 65%; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
