@charset "UTF-8";
/* Boa prática definir o encoding */

html{
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FEF4F4;
    color: #171728;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

.clearfix:after, .row:after{
    content: " ";
    display: block;
    clear:both;
}

.top-header{
    text-align: center;
}

.top-header-logo{
    margin: .5em;
}

.top-nav{
    background: #FEF4F4;
    text-align: center;
}

.top-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-nav a{
    color: #171728;
    font-weight: 600;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top-nav a:hover{
    color: #F38068;
}

.button{
    display: inline-block;
    padding: .75em 2em;
    background: #F38068;
    border: transparent;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition: background .4s ease;
    outline: none;
}

.button:hover{
    background-color: #F8A696;
}

.heading-1 {
    font-weight: 700;
    margin: 16px;
    text-transform: uppercase;
    display: inline;
    padding-right: 10px;
}

.heading-1.background {
    position: relative;
    z-index: 1;
}

.heading-1.background::before{
    border-top: 12px solid #F38068;
    content:"";
    margin: 0 0 0 -10px;
    position: absolute;
    top: 65%; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.heading-3 {
    font-weight: 700;
    margin: 16px;
    text-transform: uppercase;
    display: inline;
    padding-right: 10px;
}

.heading-3.background {
    position: relative;
    z-index: 1;
}

.heading-3.background::before{
    border-top: 12px solid #B2D5D9;
    content:"";
    margin: -2px 0 0 -10px;
    position: absolute;
    top: 65%; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.top-content {
    padding: 2em 5em;
}

.top-content-description {
    text-align: left;
}

.top-content-image img {
    height: 20em;
}

.top-content-subtitle{
    font-size: 1em;
    line-height: 2em;
    margin: 2em;
    margin-left: 0;
}

.middle-content {
    padding: 2em;
}

.middle-content-article {
    padding: 2em;
    text-align: center;
}

.middle-content-article p {
    line-height: 1.5em;
    font-size: .9em;
}

.middle-content-article span[class^=icon] {
    font-size: 2.5em;
}

.middle-content-title{
    font-size: 1.2em;
}

.main-content {
    padding: 2em;
}

.main-content-article{
    padding: 2em 2em .5em 2em;
}

.main-content-article p {
    line-height: 1.5em;
    font-size: .9em;
}

.main-content-title{
    font-size: 1.2em;
    letter-spacing: .2em;
}

.footer{
    /* background: #25303e; */
    padding: 2em;
    background: #F7C777;
    text-align: center;
}

.footer ul{
    padding: 0;
    margin: 0;
}

.footer-menushare li{
    display: inline-block;
    margin: 0 1em;
}

.footer-menushare a{
    font-size: 1.1em;
    text-decoration: none;
    color: #171728;
}

.footer p {
    font-size: .8em;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

/* 780px(tamanho da quebra que desejo) / 16 (font-size) = 48.75em */
@media screen and (min-width: 48.75em) {
    .top-content {
        /* background: #B2D5D9; */
        /* margin-top: 2em; */
    }

    .top-header-logo{
        float: left;
    }

    .top-nav{
        float: right;
        margin-top: 25px;
    }

    .top-nav ul{
        margin: 0;
        padding: 0;
    }

    .top-nav li{
        display: inline-block;
    }

    .middle-content-article{
        padding: 0;
        width: 44%;
        margin: 3%;
        float: left;
    }

    .main-content-article a {
        float: right;
    }
}

/* 1000px / 16 =  62.5em*/
@media screen and (min-width: 62.5em) {
    .top-content{
        /* margin-top: 1em; */
        /* margin: 3.5em 0; */
        /* min-height: 31.25em; */
        /* background-image: url(../images/hero2.svg); */
        /* background-size: cover; */
        /* background-position: right bottom; */
        /* background-blend-mode: overlay; */
        /* background-repeat: no-repeat; */
    }

    .hero-content{
        padding: 1em 3em;
    }

    .top-content-description {
        float: left;
        /* margin-top: 1em; */
        padding: 0;
        width: 44%;
    }

    .top-content-image{
        float: right;
        padding: 0;
        width: 44%;
        /* margin: 3%; */
    }
    /* .top-content-image { */
        /* visibility: visible; */
        /* height: 0;
        width: 0; */
    /* }     */
}